{:paths ["src"]
 :deps {ring/ring-core {:mvn/version "1.9.6"}
        ring/ring-jetty-adapter {:mvn/version "1.9.6"}
        compojure/compojure {:mvn/version "1.7.0"}
        ring/ring-json {:mvn/version "0.5.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}}}